@import url("https://fonts.googleapis.com/css?family=Cinzel");
.nopad, #hero, #phone-mobile, #footer-phone {
  padding-left: 0px;
  padding-right: 0px; }

.fontGreen {
  color: #517f70; }

.script {
  font-family: "Brush Script MT", cursive;
  font-size: 1.2em; }

.flex-img {
  width: 60%;
  height: auto;
  margin-left: -10px;
  width: 200px; }

@media only screen and (min-width: 480px) {
  .flex-img {
    min-width: 350px; } }

html,
body {
  background: #fff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 16px; }

@media only screen and (min-width: 992px) {
  body {
    font-size: 14px; } }

h1, h2, h3 {
  color: #517f70; }

h1 {
  font-size: 1.5em;
  padding-left: 35px;
  display: none; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.3em; }

#page-wrapper {
  max-width: 3000px;
  margin: 0px auto; }

#hero {
  padding-top: 0px !important;
  display: block;
  height: 500px;
  background-image: url("/sites/all/themes/ppc/images/backgrounds/main-wrapper-background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 0%; }

@media only screen and (min-width: 992px) {
  #hero {
    display: none; } }

#phone-mobile {
  text-align: center;
  background-color: transparent;
  font-size: 1.5em; }
  #phone-mobile a {
    color: #fff;
    font-family: sans-serif;
    text-decoration: none; }
  #phone-mobile i {
    font-size: 0.7em; }

#highlighted {
  display: none;
  background-color: #739dac;
  color: #fff;
  min-height: 50px; }

#highlight {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: sans-serif; }

@media only screen and (min-width: 992px) {
  #highlighted {
    display: block; } }

#header, #main, #highlight, #secondary {
  max-width: 1025px;
  margin: 0 auto; }

#header {
  height: auto; }

#header section {
  text-align: center; }

body.front #main-wrapper {
  background-image: none;
  background-size: 130% auto;
  background-repeat: no-repeat;
  background-position: 25% 60px; }

@media only screen and (min-width: 992px) {
  body.front #main-wrapper {
    background-image: url("/sites/all/themes/ppc/images/backgrounds/main-wrapper-background-1.jpg"); }
  #header {
    height: 225px; } }

@media only screen and (min-width: 1600px) {
  body.front #main-wrapper {
    background-size: 100% auto; } }

@media only screen and (min-width: 2000px) {
  body.front #main-wrapper {
    background-position: 0% 10%; } }

#content {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: sans-serif; }
  #content h2 {
    font-family: serif;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px; }

#form-header-mobile {
  display: block;
  position: relative;
  top: -100px;
  width: 100%;
  margin: 0px auto;
  background-color: #36bfbb;
  color: #fff;
  text-align: center;
  font-size: 1.75em;
  padding: 1px 25px 10px;
  font-family: sans-serif; }

#ppc-form-mobile {
  display: block;
  position: relative;
  top: -100px;
  width: 100%;
  margin: 0px auto -100px auto;
  font-family: Arial, Helvetica, sans-serif; }

@media only screen and (min-width: 480px) {
  #form-header-mobile, #ppc-form-mobile {
    width: 350px; } }

@media only screen and (min-width: 992px) {
  #ppc-form-mobile {
    display: none; }
  #form-header-mobile {
    display: none; } }

.top-content {
  padding-left: 35px;
  padding-right: 35px; }

#content-why {
  background-color: #fff;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 20px;
  padding: 5px 35px 15px 35px; }

#why {
  display: table;
  color: #000;
  border-collapse: collapse; }

.sidebarListMainDiv {
  display: table-row;
  border-bottom: solid #fff 10px; }

.sidebarCheckDiv {
  display: table-cell;
  padding-right: 10px; }
  .sidebarCheckDiv img {
    width: 20px;
    height: auto; }

.sidebarTextDiv {
  display: table-cell; }

#top-phone {
  font-size: 1.3em;
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 25px; }
  #top-phone a {
    color: #517f70;
    text-decoration: none;
    font-size: 1.35em;
    font-weight: bold; }

#form-header {
  background-color: #36bfbb;
  color: #fff;
  padding: 1px 25px 10px;
  font-family: sans-serif; }
  #form-header h2 {
    text-align: center;
    color: #fff; }

#ppc-form, #ppc-form-mobile {
  background-color: #fff;
  padding: 0px 25px; }
  #ppc-form .form-item, #ppc-form-mobile .form-item {
    margin-top: 5px;
    margin-bottom: 5px; }
  #ppc-form .form-item:first-child, #ppc-form-mobile .form-item:first-child {
    margin-top: 15px; }
  #ppc-form .form-item:last-child, #ppc-form-mobile .form-item:last-child {
    margin-bottom: 15px; }
  #ppc-form .form-control, #ppc-form-mobile .form-control {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
  #ppc-form .form-actions, #ppc-form-mobile .form-actions {
    margin-top: 15px;
    margin-bottom: 15px; }
  #ppc-form .webform-submit, #ppc-form-mobile .webform-submit {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    background-color: #f58547;
    color: #fff;
    font-size: 1.3em;
    border: 1px none #f58547;
    width: 100%; }

@media only screen and (min-width: 992px) {
  #right {
    position: relative;
    top: -275px;
    left: -50px; } }

#content-extender {
  height: 200px; }

#phone-secondary-mobile {
  background-color: #517f70;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  padding-top: 10px;
  padding-bottom: 10px; }
  #phone-secondary-mobile a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em; }

@media only screen and (min-width: 992px) {
  #phone-secondary-mobile {
    display: none; } }

#address-mobile {
  text-align: center;
  font-family: sans-serif;
  padding-top: 25px;
  padding-bottom: 25px; }
  #address-mobile p {
    margin-bottom: 0px; }

#footer {
  padding: 0px; }

#footer-phone {
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 1.5em; }

#address-footer {
  padding-top: 25px;
  text-align: left;
  font-size: 0.9em;
  font-family: sans-serif; }

#address-wrap {
  display: inline-block;
  width: auto;
  text-align: left; }

#footer-icons {
  padding-top: 25px;
  text-align: right; }
